<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rpgObject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEC83DD51CF4C18500503838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC83DEC1CF4C18600503838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC83DF71CF4C18600503838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
